In [94]:
##LOAD REQUIRED PKGS
using Pkg 
#Pkg.add("CSV")
#Pkg.add("DataFrames")
using CSV
using DataFrames
using LinearAlgebra
using SymPy

In [90]:
df = CSV.read("/Users/elizabethterveen/Downloads/twitch/ENGB/musae_ENGB_edges.csv",DataFrame)
##NOTE: need to re-add ids to this data so that a) they're continuous b) they. match the target csv file so we can get info about nodes

35324×2 DataFrame
   Row │ from   to
       │ Int64  Int64
───────┼──────────────
     1 │  6194    255
     2 │  6194    980
     3 │  6194   2992
     4 │  6194   2507
     5 │  6194    986
     6 │  6194   4003
     7 │     0     82
     8 │    15    343
     9 │    15   4282
    10 │    15   5442
    11 │    15   1162
   ⋮   │   ⋮      ⋮
 35315 │  4136   7069
 35316 │  7038   7044
 35317 │  7041   7069
 35318 │  6922   2674
 35319 │  6922   7107
 35320 │  6922   7122
 35321 │  6562   7089
 35322 │  7069   7070
 35323 │  7069   7110
 35324 │  7075   7109
    35303 rows omitted

In [92]:
##get the adjacency matrix for a social network datasets (entries are 1s and 0s)
function get_adjacency_social_network(social_network_df)
    nrow = length(unique(df[:,1]))
    A = zeros(nrow,nrow)
    for i in 1:nrow
        from = df[i,1]
        to = df[i,2]
        A[from+1,to+1] = 1
    end
    return A
end

get_adjacency_social_network (generic function with 1 method)

In [64]:
##calculate degree,applicable to any adjacency matrix         
function get_degree(adj_mtrx)
    nrows,ncols = size(adj_mtrx)
    D = zeros(nrows,nrows)
    for r in 1:nrows
        D[r,r] = sum(adj_mtrx[r,:])
    end
    return D
end

get_adjacency_social_network (generic function with 1 method)

In [71]:
##calcluate laplacian graph
function get_laplacian(adj_mtrx)
    degree_mtrx = get_degree(adj_mtrx)
    return degree_mtrx-adj_mtrx
end

get_laplacian (generic function with 1 method)

In [76]:
#calculate normalized lapalacian
function neg_sqrt_D(D)
    n = size(D,1)
    sqrt_d = zeros(n,n)
    for r in 1:n
        sqrt_d[r,r] = 1/sqrt(D[r,r])
    end
    return sqrt_d
end
        
function get_laplacian_norm(adj_mtrx)
    degree_mtrx = get_degree(adj_mtrx)
    D2 = neg_sqrt_D(degree_mtrx)
    return D2*adj_mtrx*D2
end

get_laplacian_norm (generic function with 1 method)

In [99]:
#calculate multiplicity of 0 eigenvalue (the multiplicity of the 0 eigenvalue in L)
function get_num_connected_components(L)
    ##doesn't matter if we use normalized or un-normalized laplacian
    evals_dict = Sym(L).eigenvalues()
    return evals_dict[0]
end

get_num_connected_components (generic function with 1 method)

In [100]:
#return a matrix with columns containing the eigenvectors of the laplacian
function get_U(L)
    return Matrix(Sym(L).eigvecs)
end

get_U (generic function with 1 method)